@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-100: #ff7000;

  /* dark */
  --color-dark-100: #0f1117;
  --color-dark-200: #151821;
  --color-dark-300: #212734;
  --color-dark-400: #3f4354;
  /* light */
  --color-light-100: #ffffff;
  --color-light-200: #f4f6f8;
  --color-light-300: #f4f6f8;
  --color-light-400: #dce3f1;

  --color-border-light: #c8cbd954;
  /* gray */
  --color-gray-dark: #7b8ec8;
  --color-gray-light: #858ead;

  --font-inter: var(--font-inter);
  --font-space-grotesk: var(--font-space-grotesk);

  --breakpoint-sm: 480px; /* Overrides the default sm breakpoint */
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 1920px;
}

@utility gradient-dark {
  background: linear-gradient(232deg, rgba(23, 28, 35, 0.41) 0%, rgba(19, 22, 28, 0.7) 100%);
}

@layer utilities {
  .flex-between {
    @apply flex items-center justify-between;
  }
  .p1-bold {
    @apply font-inter text-lg leading-[140%] font-bold;
  }
  .p1-semibold {
    @apply font-inter text-lg leading-[140%] font-semibold;
  }

  .p1-medium {
    @apply font-inter text-lg leading-[140%] font-medium;
  }

  .p1-regular {
    @apply font-inter text-lg leading-[150%] font-normal;
  }

  .p2-regular {
    @apply font-inter text-base leading-[150%] font-normal;
  }
  .p2-semibold {
    @apply font-inter text-base leading-[130%] font-semibold;
  }
  .p2-medium {
    @apply font-inter text-base leading-[130%] font-medium;
  }
  .p3-regular {
    @apply font-inter text-sm leading-[150%] font-normal;
  }
  .p3-semibold {
    @apply font-inter text-sm leading-[130%] font-semibold;
  }
  .p3-medium {
    @apply font-inter text-sm leading-[130%] font-medium;
  }
  .p5-regular {
    @apply text-[12px] leading-[150%] font-normal;
  }
  .p5-semibold {
    @apply text-[12px] leading-[130%] font-semibold;
  }
  .p5-medium {
    @apply text-[12px] leading-[130%] font-medium;
  }
  .p6-medium {
    @apply text-[10px] leading-[130%] font-medium;
  }
  .h1-bold {
    @apply text-3xl leading-[140%] font-bold;
  }
  .h6-bold {
    @apply text-xl leading-[130%] font-bold;
  }
  .h6-semibold {
    @apply text-[20px] leading-[130%] font-semibold;
  }
  .invert-colors {
    @apply invert dark:invert-0;
  }
  .nav-drop-shadow {
    box-shadow: 10px 10px 20px 0px #dad5d530;
  }
  .global-search-drop-shadow {
    box-shadow: 10px 10px 20px 0px #dad5d530;
  }
  .left-sidebar-drop-shadow {
    box-shadow: 10px 10px 20px 0px #dad5d51a;
  }
  .right-sidebar-drop-shadow {
    box-shadow: -10px 10px 20px 0px #dad5d51a;
  }
  .question-card-drop-shadow {
    box-shadow: 0px 12px 20px 0px #b8b8b808;

    box-shadow: 0px 6px 12px 0px #b8b8b805;

    box-shadow: 0px 2px 4px 0px #b8b8b808;
  }
  .gradient-primary {
    background: linear-gradient(93.22deg, #ff7000 -13.95%, #e2995f 99.54%);
  }

  .gradient-primary-text {
    background: linear-gradient(93.22deg, #ff7000 -13.95%, #e2995f 99.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .bg_light_400_dark_gradient {
    @apply bg-light-200 dark:gradient-dark;
  }
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark-400) var(--color-dark-200);
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-dark-200);
}
